@charset "utf-8";

/* 초기화 CSS */
body {
   margin: 0;
   padding: 0;
   font-size: 0.9em;
}

dl,
ul,
ol,
menu,
li {
   list-style: none;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
}

p {
   margin: 0;
}

/* header */

.header {
   min-width: 1007px;
}

.header_menu {
   height: 62px;
   text-align: center;
}

.header .header__menu a {
   position: relative;
   display: inline-block;
}

.header .header__menu img {
   vertical-align: top;
}

.header_menu1 {
   height: 62px;
   margin-top: -62px;
   padding-left: 1px;
}

.header_menu2 {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 107px;
   height: 62px;
}

.header_menu1 .header_menu2 a {
   display: block;
   padding: 23px 23px 21px;
   font: 16px;
   color: #17191d;
}

.header_menu3 {
   width: 18px;
   height: 16px;
   margin: 1px 11px 0 0;
}

.header_menu4 {
   position: absolute;
   top: 0;
   right: 0;
   height: 62px;
   padding-right: 11px;
   text-align: right;
}

.header_menu_card a {
   height: 62px;
   padding: 21px 5px 0 6px;
}

.header_menu_card1 {
   width: 22px;
   height: 22px;
   background: #191919 url(https://rs.nxfs.nexon.com/gnb/images/set_gnb_icon.png) 0 0 no-repeat;
}

.header_menu_card2 {
   left: -22px;
   width: 78px;
   position: absolute;
   top: 43px;
   height: 18px;
   padding: 1px 6px 0;
   border-radius: 15px;
   background-color: #1b1f24;
   font-size: 11px;
   line-height: 16px;
   letter-spacing: -0.28px;
   color: hsla(0, 0%, 100%, 0.9);
   visibility: hidden;
   opacity: 0;
   text-align: center;
}

.header_menu_card3 {
   position: absolute;
   top: 19px;
   left: 18px;
   display: block;
   min-width: 14px;
   height: 14px;
   padding: 0 3px 0 4px;
   text-align: center;
   font: 10px;
   color: #fff;
   border-radius: 7px;
   background-color: #07f;
   white-space: nowrap;
}

.header_menu5 {
   display: inline-block;
   zoom: 1;
}

.header_menu5 a {
   height: 62px;
   padding: 21px 5px 0 6px;
}

.header_menu_pc {
   width: 22px;
   height: 22px;
   background: transparent url(https://rs.nxfs.nexon.com/gnb/images/ic-pcbang2-location.svg) 0 0 no-repeat;
}

.header_menu_pc1 {
   position: absolute;
   top: 43px;
   height: 18px;
   padding: 1px 6px 0;
   border-radius: 15px;
   background-color: #1b1f24;
   font-size: 11px;
   line-height: 16px;
   letter-spacing: -0.28px;
   color: hsla(0, 0%, 100%, 0.9);
   visibility: hidden;
   opacity: 0;
   text-align: center;
}

/* main */
/* footer */
.footer {
   position: relative;
   width: 100%;
   min-height: 278px;
   margin-top: 200px;
   text-align: left;
   background-color: #222426;
}

.footer_sns {
   position: absolute;
   top: 25px;
   right: 38px;
}

.footer_sns li {
   display: inline-block;
}

.footer_sns a {
   display: block;
   padding: 3px 0;
   color: #737881;
   text-decoration: none;
}

.footer_sns2 {
   height: 20px;
   width: 20px;
   display: inline-block;
   background: url(https://rs.nxfs.nexon.com/home/images/main/ico_community_youtube.svg) 0 0 no-repeat;
}

.footer_sns3 {
   position: absolute;
   overflow: hidden;
   clip: rect(0 0 0 0);
   height: 1px;
   width: 1px;
   margin: -1px;
}

.footer_sns4 {
   display: inline-block;
}

.footer_sns5 {
   display: inline-block;
   height: 20px;
   width: 20px;
   margin-left: 8px;
   background: url(https://rs.nxfs.nexon.com/home/images/main/ico_community_x_footer.svg) 0 0 no-repeat;
}

.footer_sns6 {
   position: absolute;
   overflow: hidden;
   clip: rect(0 0 0 0);
   height: 1px;
   width: 1px;
   margin: -1px;
}

.footer_sns7 {
   display: inline-block;
   height: 20px;
   width: 20px;
   margin-left: 4px;
   background: url(https://rs.nxfs.nexon.com/home/images/main/ico_community_facebook.svg) 0 0 no-repeat;
}

.footer_sns8 {
   position: absolute;
   overflow: hidden;
   clip: rect(0 0 0 0);
   height: 1px;
   width: 1px;
   margin: -1px;
}

.footer_sns9 {
   height: 73px;
   padding: 28px 0 0 40px;
   border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.footer_sns9 a {
   color: #fff;
   font-size: 700;
   letter-spacing: -0.3px;
}

.footer_sns10 {
   padding: 31px 96px 0 40px;
   list-style: none;
}

.footer_sns11 {
   display: inline-block;
}

.footer_sns10 a {
   color: rgba(248 249 250 7);
   letter-spacing: -0.3px;
}

.footer_sns10 li::after {
   content: '';
   display: inline-block;
   width: 1px;
   height: 12px;
   margin: 2px 12px 0;
   background-color: hsla(0, 0%, 100%, 0.2);
}

.footer_sns12 {
   color: #f8f9fab3;
}

.footer_sns13 {
   font-weight: 700;
   display: inline-block;
}

.footer_sns13 a {
   color: rgba(248 249 250 7);
   letter-spacing: -0.3px;
}

.footer_sns14 {
   color: #f8f9fab3;
}
